
.background {
    -fx-background-image: url("CoarseGrid.png");
    -fx-background-repeat: repeat;
    -fx-background-color: linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114, 131, 148, 0.9), rgba(255, 255, 255, 0));
}

.top-segment {
    -fx-background-color: rgba(255, 255, 255, 0.05);
    -fx-border-color: transparent transparent rgb(255, 255, 255, 0.08) transparent,
    transparent transparent rgb(0, 0, 0, 0.5) transparent;
    -fx-border-width: 1, 1.5;
    -fx-border-insets: -1, 0;
}

.label {
    -fx-font-family: "Arial";
    -fx-font-size: 14;
    -fx-text-fill: rgb(255, 255, 255, 0.4);
    -fx-effect: dropshadow(one-pass-box, rgb(0, 0, 0, 0.6), 0, 0.0, 0, 1);
}

.loginTitle {
    -fx-font-size: 24;
}

.profileTitle {
    -fx-font-size: 18;
}

.hyperlink {
    -fx-font-family: "Arial";
    -fx-font-size: 18;
    -fx-text-fill: rgb(255, 255, 255, 0.4);
    -fx-effect: dropshadow(one-pass-box, rgb(0, 0, 0, 0.6), 0, 0.0, 0, 1);
    -fx-border-width: 0;
}

.hyperlink:focused {
    -fx-text-fill: rgb(255, 255, 255, 0.6);
}

.check-box .box {
    -fx-background-color: rgb(255, 255, 255, 0.1),
    rgb(0, 0, 0, 1),
    -fx-outer-border,
    -fx-inner-border,
    -fx-body-color;
    -fx-background-insets: 0 -1.6 -2 -1.6, -1.4, 0, 1, 2;
}

.check-box:focused .box {
    -fx-background-color: rgb(255, 255, 255, 0.15),
    rgb(0, 0, 0, 0.8),
    -fx-outer-border,
    -fx-inner-border,
    white;
}

.button .text {
    -fx-effect: dropshadow(one-pass-box, rgb(0, 0, 0, 0.8), 0, 0.0, 0, -1);
}

.button {
    -fx-background-color: rgb(255, 255, 255, 0.08),
    rgb(0, 0, 0, 0.8),
    #090a0c,
    linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
    linear-gradient(#242a2e, #23282e),
    radial-gradient(center 50% 0%, radius 100%, rgba(135, 142, 148, 0.9),
            rgba(255, 255, 255, 0));
    -fx-background-radius: 7, 6, 5, 4, 3, 5;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 26;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;
}

.button:focused, .button:hover {
    -fx-background-color: rgb(255, 255, 255, 0.08),
    rgb(0, 0, 0, 0.8),
    #090a0c,
    linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
    linear-gradient(#3f4950, #23282e),
    radial-gradient(center 50% 0%, radius 100%, rgba(135, 142, 148, 0.9),
            rgba(255, 255, 255, 0));
}

.text-field, .text-area {
    -fx-font-size: 18;
    -fx-background-color: rgb(255, 255, 255, 0.3),
    linear-gradient(rgb(0, 0, 0, 0.5), rgb(0, 0, 0, 0.8) 50%),
    rgb(218, 226, 224);
    -fx-background-insets: 0 0 -1 0, 0, 1.5;
    -fx-background-radius: 6, 5, 4;
    -fx-padding: 6 10 4 10;
    -fx-effect: innershadow(gaussian, rgb(0, 0, 0, 0.8), 5, 0, 0, 2);
    -fx-font-family: "Arial";
}

.text-area {
    -fx-padding: 6 5 6 5;
}

.text-field:focused, .text-area:focused {
    -fx-prompt-text-fill: rgb(128, 128, 128);
    -fx-background-color: rgb(235, 235, 235, 0.5),
    rgb(0, 0, 0, 0.4),
    rgb(255, 255, 255);
}

.table-view .column-header .label {
    -fx-text-fill: whitesmoke;
    -fx-font-weight: bold;
}
